<ion-header>
  <ion-toolbar>
    <ion-title>Add bicycle</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>  
      <ion-item>
        <ion-label>Brand</ion-label>
        <ion-select placeholder="Brand">
          <ion-select-option value="g">Giant</ion-select-option>
          <ion-select-option value="gt">GT Bikes</ion-select-option>
          <ion-select-option value="st">Santa Cruz</ion-select-option>
          <ion-select-option value="t">Trek</ion-select-option>
          <ion-select-option value="s">Specialized</ion-select-option>
          <ion-select-option value="c">Cannondale</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Modell</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="1">XYZ1</ion-select-option>
          <ion-select-option value="2">XYZ2</ion-select-option>
          <ion-select-option value="3">XYZ3</ion-select-option>
          <ion-select-option value="4">XYZ4</ion-select-option>
          <ion-select-option value="5">XYZ5</ion-select-option>
          <ion-select-option value="6">XYZ6</ion-select-option>
        </ion-select>
      </ion-item>
</ion-content>
