<ion-grid>
  <ion-row>
      <ion-toolbar>
          <ion-item lines="none">
              <ion-icon slot="start" color="medium" name="bicycle"></ion-icon>
              <ion-label>{{bicycle.modelName}}</ion-label>
            </ion-item>
          <ion-buttons slot="primary">
              <ion-button routerLink="/detail/:{{bicycle.id}}">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <ion-item lines="none" class="ion-text-center">
        <ion-avatar><img src="../../../assets/img/frame.png"></ion-avatar>
        <ion-label position="stacked">{{bicycle.frameName}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-text-center">
        <ion-avatar><img src="../../../assets/img/chain.png"></ion-avatar>
        <ion-label position="stacked">{{bicycle.chainName}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-text-center">
        <ion-avatar><img src="../../../assets/img/wheels.png"></ion-avatar>
        <ion-label position="stacked">{{bicycle.wheelName}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <ion-item lines="none" class="ion-text-center">
        <ion-avatar><img src="../../../assets/img/fork.png"></ion-avatar>
        <ion-label position="stacked">{{bicycle.forkName}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-text-center">
        <ion-avatar><img src="../../../assets/img/handlebar.png"></ion-avatar>
        <ion-label position="stacked">{{bicycle.handlebarName}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-text-center">
        <ion-avatar><img src="../../../assets/img/brakes.png"></ion-avatar>
        <ion-label position="stacked">{{bicycle.brakeName}}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>