<ion-header>
  <ion-toolbar>
    <ion-title> Profile </ion-title>

    <ion-buttons slot="primary">
      <ion-button routerLink="/addbike">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col size="4">
        <ion-item lines="none">
          <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col size="8">
        <ion-item lines="none">
          <ion-icon name="contact" slot="start"></ion-icon>
          <ion-label>{{profile.firstname}}</ion-label>
          <ion-label>{{profile.lastname}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ion-col size="8">
        <ion-item lines="none">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>{{profile.email}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider>
    <ion-label>
      Your bikes
    </ion-label>
  </ion-item-divider>
  <ion-list>
    <ion-item *ngFor="let currentBicycle of bicycles;">
      <app-bicycle-item [bicycle]="currentBicycle">
      </app-bicycle-item>
    </ion-item>
  </ion-list>
</ion-content>